.bannercontainer {
  background-color: #3367d6;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nohistcontainer {
  height: 100vh;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.unordercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.searcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchimgpx {
  background-color: #2850a7;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  border-style: solid;
  border-color: #6697ff;
  border-width: 1px;
}
.inputelesty {
  background-color: #2850a7;
  border-style: solid;
  outline: none;
  color: #fff;
  padding: 5px;
  border-color: #6697ff;
  border-width: 1px;
  margin-left: 2px;
}
.unorderlistty {
  padding: 30px;

  list-style-type: none;
}
